.md-properties-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  border: 1px solid #e5e7eb;
}

.md-properties-table thead {
  background: #f9fafb;
  color: #374151;
  border-bottom: 1px solid #e5e7eb;
}

.md-properties-table th {
  padding: 8px 12px;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  border-right: 1px solid #e5e7eb;
}

.md-properties-table th:first-child {
  width: 60px;
  text-align: center;
}

.md-properties-table th:last-child {
  width: 120px;
  text-align: center;
  border-right: none;
}

.md-properties-table tbody tr {
  border-bottom: 1px solid #e5e7eb;
}



.md-properties-table td {
  padding: 8px 12px;
  font-size: 14px;
  color: #374151;
  border-right: 1px solid #e5e7eb;
}

.md-properties-table td:first-child {
  font-weight: 500;
  color: #374151;
  text-align: center;
}

.md-properties-table td:nth-child(2) {
  color: #374151;
  font-weight: 400;
}

.md-properties-table td:nth-child(3) {
  color: #374151;
  font-weight: 400;
  border-right: 1px solid #e5e7eb !important;
}

.md-properties-table .time-cell {
  text-align: center;
  font-weight: 500;
  color: #374151;
  vertical-align: middle;
  border-right: none;
}

.md-properties-table .group-cell {
  text-align: center;
  font-weight: 500;
  color: #374151;
  vertical-align: middle;
}

.md-properties-table .time-cell:last-child {
  border-right: none;
}