@import '@/styles/variables.less';

.cc-introduction {
  padding: 48px 30px;
  text-align: center;

  &__placeholder {
    font-size: @font-size-md;
    color: @color-text-muted;
    font-style: italic;
    margin: 0;
  }
}
