/node_modules
/.env
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/src/.umi-test
/dist
/build
config/config.staging.ts
.swc
.cursorrules
/.cursor/
.cursor/
.cursor
.code-workspace.code-workspace
CLAUDE.md
