body {
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0a0a;
  color: #f0f0f0;
  overflow: hidden;
  line-height: 1.6;
}

code {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
