.icon-button {
    box-shadow: none !important;
    height: 100%;
}

.custom-button-group {
    display: flex;
    flex-direction: column;
}

.custom-button-group.full-width {
    width: 100%;
}

.status-indicator {
    display: flex;
    justify-content: center;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 12px;
}
.status-indicator.success {
    background-color: rgba(0,255,0,0.05);
    color: #218739;
}
.status-indicator.error {
    background-color: rgba(255,0,0,0.05);
    color: #c83544;
}

.custom-button-group.side {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.custom-button-group.side .status-indicator {
    margin-left: 5px;
}



/* MUI color overrides for button */
.icon-button {
    font-size: 12px !important;
}
.icon-button.MuiButton-containedPrimary {
    background-color: #0080ff !important;
    color: #ffffff !important;
}

.icon-button.MuiButton-containedPrimary:hover {
    background-color: #0066cc !important;
    color: #ffffff !important;
}

.icon-button.MuiButton-containedPrimary:disabled {
    background-color: #0080ff !important;
    color: #ffffff !important;
    opacity: 0.7 !important;
}

.icon-button.MuiButton-containedSecondary {
    background-color: #FFA500 !important;
    color: #000000 !important;
}

.icon-button.MuiButton-containedSecondary:hover {
    background-color: #FF8C00 !important;
    color: #000000 !important;
}

.icon-button.MuiButton-containedSecondary:disabled {
    background-color: #FFA500 !important;
    color: #000000 !important;
    opacity: 0.7 !important;
}

.icon-button.MuiButton-containedError {
    background-color: #ff0745 !important;
    color: #ffffff !important;
}

.icon-button.MuiButton-containedError:hover {
    background-color: #db0a3e !important;
    color: #ffffff !important;
}

.icon-button.MuiButton-containedError:disabled {
    background-color: #d0385e !important;
    color: #ffffff !important;
    opacity: 0.7 !important;
}

